@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap");

body {
  font-family: "Outfit", sans-serif;
  color: #752305;
}

.whiteCont {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  width: 40%;
  padding: 1rem;
}
.card {
  background-color: #fef7e2;
  border-radius: 15%;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
}
.card img {
  width: 100%;
  display: block;
}

.cardBody {
  padding-inline: 2rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
h3 {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 600;
}
p {
  margin-top: 0;
  font-size: 1.5rem;
}
.cardBody :nth-of-type(2) {
  transform: translate(321px, -72px);
  font-size: 2rem;
}

button {
  background-color: #ffdf7f;
  border: 1px solid #ffdf7f;
  border-radius: 20px;
  width: 60%;
  padding: 0.5rem;
  text-align: center;
  color: #752305;
  font-size: 1.5rem;
  align-self: center;
}
